/* Tab Content - menucool.com */
ul.tabs
{
    padding: 7px 0;
    margin:0;
    font-size: 0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
    padding-left:20px; /* Offset of the first tab */
}
        
ul.tabs li
{
    display: inline;
    margin: 0;/*no distance between tabs*/
    background: White;
    margin-left: -4px;
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 22px;
    color: #000;
    outline:none;
    background: #F6F6F9;
    border:1px solid #CCC;
    border-right:0;
}

/*Note: IE8 and earlier doesn't support li:last-child. You have to add another class to the last tab (LI) and specify its border-right as below.*/
ul.tabs li:last-child a
{
    border-right:1px solid #CCC;
}
  
        
ul.tabs li a:hover
{
    color: #000;
    background: white;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    top: 0px;
    font-weight:normal;
    background: #FFF;
    border-bottom: 1px solid #FFF;
    color: #000;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border-top: 1px solid #CCC; padding: 30px 10px;
}





#about-seller > div
{
	text-align:center;
	padding:1px;
}

.seller-username, .seller-rank
{
	font-weight:bold;
}

.seller-sales-percent
{
	font-weight:bold;
	font-size:5vh;
}

.seller-sales-divider{
	border-left:1px solid #CCC;
}

.seller-sales-info
{
	font-weight:bold;
	font-size:1.5vh;
}

#seller-sales-container
{
	margin-top:10px;
}

.book-price-container{
	text-align:center;
	margin-bottom:15px;
	margin-top:15px;
}

.book-price-item
{
}

.book-price-info
{
	text-transform:uppercase;
	font-weight:bold;
	font-size:2vh;
	margin-bottom:5px;
}

.book-price-number
{
	font-size:2.5vh;
}

.book-price-day
{
	font-size:1.5vh;
}

.table-container{
	text-align:center;
	margin-bottom:10px;
}

.product-header
{
	font-weight:bold;
	font-size:3vh;
	margin-bottom:7px;
}

.product-item{
	margin-top:15px;
	margin-bottom:15px;
}

.table-header, .table-content{
	font-size:2vh;
	border-bottom:1px solid #CCC;
}

.table-header
{
	font-weight:bold;
	
}

.table-content
{
}

.table-container > .col-md-6
{
	padding:0;
	padding-bottom:10px;
}