.book-title
{
	font-family:SourceSansProSemiBold;
	font-size:5vh;
}

.container
{
	padding-top:10px;
	padding:20px;
}

#book-container
{
	margin-top:25px;
}

.book-writer
{
	font-size:3vh;
	color:orange;
}

.book-writer span{
	font-size:2vh;
}

.book-rating
{
	margin-top:10px;
	margin-bottom:10px;
}

.book-header{
	font-weight: bold;
    font-size: 3vh;
    margin-bottom: 7px;
}

.book-rating-count , .book-review-count{
	font-size:2vh;
	color:orange;
}

.book-star
{
	margin-top:0.5vh;
	padding:0;
	min-height:15px;
	
}

.table-header, .table-content{
	font-size:1em;
}

.table-header
{
	font-weight:bold;
	
}

.table-content
{
}

.table-container > .col-md-6
{
	padding:0;
	padding-bottom:2px;
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}

.star-rating{
	padding:0;
}

.book-image
{
	margin-bottom:1vh;
	margin-top:1vh;
}

.rating-book-text
{
	font-size:1em;
	margin-top:5px;
}

.rating {
    float:left;
}


.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}


.rating span label {
    display:inline-block;
    width:15px;
    height:15px;
    text-align:center;
    color:#777;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
	font-size:100%;
	
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
	
    color:#E69515;
}






#sidebar
{
	border-left: 1px solid #E69515;
	padding-left:30px;
}

.info-small>a
{
	color:orange;
	font-size:2vh;
}

.info-small>a:hover{
	text-decoration:underline;
}

.book-info{
	font-weight:bold;
}

table.book-info{
	font-weight:normal;
	font-size:2vh;
}

td, th {
    text-align: left;
    padding-top: 3px;
}

.book-rating-star
{
	font-size:2em;
}

#book-buy-store
{
	margin-top:2vh;
}

.side-bar-item{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom : 1px solid #CCC;
}

.side-bar-title
{
	font-size:2vh;
	color:#333;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
}

.book-review-bar
{
	background-color:#E69515;
	color:white;
	font-size:2vh;
	padding:5px;
	margin-bottom:3px;
}
.book-review-container
{
	margin-bottom:1vh;
}

.main-bar-item
{
	margin-bottom:5vh;
}


.book-side-bar{
	padding-right:5px;
	padding-left:5px;
}

.review-wrapper
{
	margin-bottom:30px;
	padding-bottom:10px;
	border-bottom:solid 1px #ccc;
}

.review-item{
	margin-bottom:3px;
}

.review-title
{
	font-family:SourceSansProSemiBold;
	font-size:1.2em;
}

.review-date
{
	float:right;
	color:#E69515;
}

.review-username{
	font-family:SourceSansProSemiBold;
}

.review-content
{
	margin-bottom:10px;
}

.review-form
{
	margin-top:40px;
}

.review-form-input textarea
{
	margin-bottom:10px;
}

.rating2 {
    float:left;
}


.rating2 span { float:right; position:relative; }
.rating2 span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}


.rating2 span label {
    display:inline-block;
    width:15px;
    height:15px;
    text-align:center;
    color:#777;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
	font-size:100%;
	
}
.rating2 span:hover ~ span label,
.rating2 span:hover label,
.rating2 span.checked label,
.rating2 span.checked ~ span label {
	
    color:#E69515;
}

#review-form form
{
	margin-top:20px;
}

.comment-for-star
{
	background-color:#F58634;
	color:white;
	border-radius:4px;
	padding:2px 5px;
	font-size:1em;
}

.label-for-textarea
{
	font-family:SourceSansProSemiBold;
}