#content-container
{
	padding:100px 0px;
}

@media(max-height: 767px)
{
	#content-container
	{
		padding:25px 25px;
	}
}

.about-hr{
	width: 50%;
}

.about-header h1{
	font-weight: 700;
	text-align: center;
}

.about-header{
	margin-bottom: 7vh;
}

.about-content{
	font-size: 1.2em;
	text-align: justify;
}