/*-----------------------------------------------------CAROUSEL----------------------------------------------------------------*/

.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:0px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner2 .active.left { left: -100%; }
	.carousel-inner2 .next        { left:  100%; }
	.carousel-inner2 .prev		 { left: -100%; }
	.carousel-inner2 .active > div { display:none; }
	.carousel-inner2 .active > div:first-child { display:block; }

}
@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner2 .active.left { left: -50%; }
	.carousel-inner2 .next        { left:  50%; }
	.carousel-inner2 .prev		 { left: -50%; }
	.carousel-inner2 .active > div { display:none; }
	.carousel-inner2 .active > div:first-child { display:block; }
	.carousel-inner2 .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner2 .active.left { left: -25%; }
	.carousel-inner2 .next        { left:  25%; }
	.carousel-inner2 .prev		 { left: -25%; }	
}


/* Code Below use to fix Transition Bug, if you delete it, the transisiton will be weird */


@media (min-width: 992px ){
  .carousel-inner2 > .item.next,
  .carousel-inner2 > .item.active.right {
      -webkit-transform: translate3d(25%, 0, 0);
  }
  .carousel-inner2 > .item.prev,
  .carousel-inner2 > .item.active.left {
      -webkit-transform: translate3d(-25%, 0, 0);
  }
}


@media (min-width: 768px ) and (max-width: 991px ){
  .carousel-inner2 > .item.next,
  .carousel-inner2 > .item.active.right {
      -webkit-transform: translate3d(50%, 0, 0);
  }
  .carousel-inner2 > .item.prev,
  .carousel-inner2 > .item.active.left {
      -webkit-transform: translate3d(-50%, 0, 0);
  }
}


@media (max-width: 767px ) {
  .carousel-inner2 > .item.next,
  .carousel-inner2 > .item.active.right {
      -webkit-transform: translate3d(100%, 0, 0);
  }
  .carousel-inner2 > .item.prev,
  .carousel-inner2 > .item.active.left {
      -webkit-transform: translate3d(-100%, 0, 0);
  }
}




/*-----------------------------------------------------CAROUSEL----------------------------------------------------------------*/


@media (max-width: 767px) {
	.carousel-inner3 .active.left { left: -100%; }
	.carousel-inner3 .next        { left:  100%; }
	.carousel-inner3 .prev		 { left: -100%; }
	.carousel-inner3 .active > div { display:none; }
	.carousel-inner3 .active > div:first-child { display:block; }

}
@media (min-width: 768px) and (max-width: 991px ) {
	.carousel-inner3 .active.left { left: -50%; }
	.carousel-inner3 .next        { left:  50%; }
	.carousel-inner3 .prev		 { left: -50%; }
	.carousel-inner3 .active > div { display:none; }
	.carousel-inner3 .active > div:first-child { display:block; }
	.carousel-inner3 .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner3 .active.left { left: -16.67%; }
	.carousel-inner3 .next        { left:  16.67%; }
	.carousel-inner3 .prev		 { left: -16.67%; }	
}


/* Code Below use to fix Transition Bug, if you delete it, the transisiton will be weird */


@media (min-width: 992px ){
  .carousel-inner3 > .item.next,
  .carousel-inner3 > .item.active.right {
      -webkit-transform: translate3d(16.67%, 0, 0);
  }
  .carousel-inner3 > .item.prev,
  .carousel-inner3 > .item.active.left {
      -webkit-transform: translate3d(-16.67%, 0, 0);
  }
}


@media (min-width: 768px ) and (max-width: 991px ){
  .carousel-inner3 > .item.next,
  .carousel-inner3 > .item.active.right {
      -webkit-transform: translate3d(50%, 0, 0);
  }
  .carousel-inner3 > .item.prev,
  .carousel-inner3 > .item.active.left {
      -webkit-transform: translate3d(-50%, 0, 0);
  }
}


@media (max-width: 767px ) {
  .carousel-inner3 > .item.next,
  .carousel-inner3 > .item.active.right {
      -webkit-transform: translate3d(100%, 0, 0);
  }
  .carousel-inner3 > .item.prev,
  .carousel-inner3 > .item.active.left {
      -webkit-transform: translate3d(-100%, 0, 0);
  }
}

/*-----------------------------------------------------CAROUSEL----------------------------------------------------------------*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .height-item{
	height:35vw;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-height:100%;
  object-fit:cover;
}