

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansProLight;
    src: url('../fonts/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansProLight;
    src: url('../fonts/SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: SourceSansProSemiBold;
    src: url('../fonts/SourceSansPro-Semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: SourceSansProSemiBold;
    src: url('../fonts/SourceSansPro-SemiboldIt.otf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: SourceSansProSemiBold;
    src: url('../fonts/SourceSansPro-SemiboldIt.otf');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald-Regular.ttf');
    font-weight: 700;
}

.header-text
{
    font-family: Oswald;
	color:#F58634;
	text-transform:uppercase;
}



.font-semibold{
	font-family: SourceSansProSemiBold;
	font-weight:600;
	
}

.font-light{
	font-family: SourceSansProLight;
	font-weight:400;
}

.font-bold{
	font-weight:bold;
}

body {
  font-family: SourceSansPro;
  color: #5a5a5a;
  background-color:#f5f8fa;
}

.container{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
	background-color:white;
	margin-bottom:25px;
	
}

.padding-default{
	padding:15px;
}

.btn-primary {
    color: #fff;
    background-color: #F58634;
    border-color: #E68037;
	padding-left:20px;
	padding-right:20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #E68037;
    border-color: #E68037;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#NavbarSearch input[type=text]{
	width:300px!important;
	
	}
	
	

@media (max-width: 1023px) {
	#NavbarSearch input[type=text]{
	width:50%!important;
	}
	
	
}

@media (min-width:1024px)
{
	.navbar-hide
	{
		display:none !important;
	}
	
.form-group-navbar
{
	padding-left:10%;
}
	
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-default{
	background-color:#F58634;
	border:0;
}

.navbar-default .navbar-nav > li > a{
	color:white;
}

.navbar-default .navbar-nav > li > a:hover{
	background-color:#E68037;
	color:white;
}

.navbar-default .navbar-nav-mini > li > a:hover{
	text-decoration:underline;
}

.navbar-nav-mini > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar-nav {min-height:32px !important}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


.image-fit
{
	
	  min-width: 100%;
	  min-height: 100%;
}

/*COLOR*/

.primary-color{
	color: black; 
}


.color-org{
	color: #E69515; 
}


.bg-color-org{
	background-color: #E69515; 
}

hr{
	width:100%;
	height:1px;
	background-color:#F58634;
	margin-bottom:20px;
	margin-top:0;
}

hr.thin
{
	height: 1px; 
}

#footer hr{
	color: black; 
	height: 1px; 
	background-color:white;
	border:none;
}



.icon-wrapper{
    position:relative;
    float:left;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    width:50px;
    text-align:center;
    vertical-align:middle;
}


.badge{
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
	font-size:10px;
    border-radius: 50%;
	margin-top:-30px;
    position:absolute;
    left:8px;
    padding:5px;
	z-index:2;
}

@-moz-document url-prefix() {
   .badge{
	margin-top:-10px;
	}
}


@media (max-width: 1023px) {
  .badge{
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
	font-size:10px;
    border-radius: 50%;
    position:absolute;
    top:-10px;
    left:8px;
    padding:5px;
	z-index:2;
}
}

@media (min-width: 992px) {
	.btn-float-right-container
	{
		margin-top:20px;
		text-align:right;
	}
}

@media (max-width: 991px) {
	.btn-float-right-container
	{
		margin-top:20px;
		
		text-align:center;
	}
}



.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 117px;
}


/*ITEM & DIV */



.height-500{
	height:370px;
	width:100%;
}

.width-80{
	width:80%;
}

.width-50{
	width:50%;
}
.width-30{
	width:30%;
}
.width-10{
	width:10%;
}

/*LINK A*/



/*FONT TEXT ALL OF IT*/

#footer, #footer a
{
	color:white;
}

#footer a:hover
{
	color:#E69515;
}

.text-primary {
  color: #333;
}

a {
  text-decoration: none;
  color:#333;
}
a:hover,
a:focus {
	color:#E69515;
}

.text-center{
	text-align:center;
}

.text-bold
{
	font-weight:bold;
}

.text-size-22{
	font-size:22px;
}

.text-third
{
	color:#1566e6;
}

/*MARGIN AND PADDING*/
.margin-bot-1{
	margin-bottom:1vh;
}

.margin-bot-2{
	margin-bottom:2vh;
}

.margin-bot-10{
	margin-bottom:10vh;
}

.margin-bot-3{
	margin-bottom:3vh;
}

.margin-top-1{
	margin-top:1vh;
}

.margin-top-2{
	margin-top:2vh;
}

.margin-0{
	margin:0;
}

.padding-0{
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

.padding-5px{
	padding:5px;
}

.padding-10px{
	padding:10px;
}

.padding-20px{
	padding:20px;
}

.padding-top-bot-2{
	padding-top:2vh;
	padding-bot:2vh;
}



#footer
{
	font-size:12px;
}



#footer h4
{
	color:#000;
	font-family: Oswald;
	font-weight:600;
	font-size:2.5em;
	padding-left:15px;
}

.footer-3 p{
	margin:0 0 0px;
}

.footer-2 p{
	margin: 0 0 7px;
}

@media (max-width: 992px ) {
	#footer{
		text-align:center;
	}
}

.footer-1{
	background-color:#E69515; 
	text-align:center;
	font-size:5vh;
	font-weight:bold;
}

.footer-2{
	padding-top:3vh;
	padding-bottom:3vh;
	background-color:#F58634; 
}

.footer-2 .col-md-6{
	
	font-size:1.1em;
}

.footer-3{
	padding:10px;
	background-color:#000; 
	text-align:center;
	font-size:12px;
	font-weight:bold;
}


#footer .col-md-2
{
	margin-bottom:3vh;
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}