.book-container{
	padding-bottom:20px;
}

.title-container
{
	height:40px;
	overflow:hidden;
	margin-bottom:2px;
}

.author-container
{
	margin-bottom:10px;
}

#HeaderContainer
{
	margin-top:25px;
	padding:0;
}

hr
{
	width:100%;
	height:1px;
	background-color:#F58634;
	margin-bottom:20px;
	margin-top:0;
}



/*IMAGE*/

.img-responsive-2
{
  display: block;
  min-height:100%;
  min-width:100%;
  max-height:100%;
  max-width:100%;
  object-fit:cover;
}

.img-responsive-fit
{
  position: absolute;
  top: 0;
  left: 0;
  min-height:100%;
  min-width:100%;
  max-width:100%;
  max-height:100%;
  object-fit:cover;

}

.news-height{
	height:300px;
}




/* PER-PAGE */

.home-news-title-1{
	color:black;
	font-weight:bold;
	font-size:5vh;
	text-align:left;
}

.home-news-caption-1{
	color:black;
	font-size:1em;
	text-align:left;
}


.home-news-caption-2{
	color:black;
	font-size:1em;
	text-align:center;
}

.home-news-title-2{
	color:black;
	font-weight:bold;
	font-size:1em;
	text-align:center;
}	
.home-news-title-1 span {
	background-color:#E69515;
}

.home-news-title-2 span {
	background-color:#E69515;
}

.home-news-title-1-2
{
	display:none;
}

@media (max-width: 992px ) {
	.home-news-title-1{
		display: none !important;
	}
	.home-news-title-2{
		display: none !important;
	}
	
	.home-news-title-1-2
	{
		display:block;
	}
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control{
	color:white;
	opacity:1;
	text-shadow:none;
}

.carousel-control>span{
	
	background-color:#F58634;
	font-size:15px;
	border-radius:50%;
}

.carousel-control>i{
	
	background-color:#F58634;
	font-size:15px;
	border-radius:50%;
}


@media screen and (min-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
	padding-top:4px;
    font-size: 20px;
}
}

@media screen and (max-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
	padding-top:4px;
    font-size: 20px;
}
}

a > .home-news-title-1:hover, a > .home-news-title-2:hover
{
	color:orange;
}

